<body>
  <div id="topbar">
    <img src="../../assets/img/logo.png" alt="logo" width="10%" height="10px" id="logo">
    <h1 id="yumyard">YUMYARD</h1>
    <nav id="navbar">
        <a href="#">Home</a>
        <a routerLink="/specialoffers">Special Offers</a>
        <a routerLink="/adminl">Add Restaurant</a>
        <a routerLink="/contactform">Contact Us</a>
        <span></span>
        <button (click)="redirectToLogin()">Log In</button>
      </nav>
  </div>
  <div class="slider1">
    <img src="../../assets/img/slide7.jpg">
    <div class="title">
        <h1>EXPLORE TASTE ENJOY</h1>
        <span class="line"></span>
        <p>Digital Food Service Platform to discover the best food
            <span class="offers">Special Offers are Available !!!!</span>
        </p>
    </div>
  </div>
  <div class="special-offers">
  </div>
  </body>
