<div class="container">
  <h2 style="text-align: center; justify-content: center; font-size: 25px; font-weight:900; font-style: oblique;"><i class="uil uil-user-check"></i>  Profile</h2>
  <table class="result-table">
    <tbody>
      <tr *ngFor="let user of userProfile">
        <td>Email</td>
        <td>:</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr *ngFor="let user of userProfile">
        <td>Restaurant Name</td>
        <td>:</td>
        <td>{{ user.resname }}</td>
      </tr>
      <tr *ngFor="let user of userProfile">
        <td>Restaurant Type</td>
        <td>:</td>
        <td>{{ user.restype }}</td>
      </tr>
      <tr *ngFor="let user of userProfile">
        <td>Restaurant Description</td>
        <td>:</td>
        <td>{{ user.description }}</td>
      </tr>
      <tr *ngFor="let user of userProfile">
        <td>Restaurant Address</td>
        <td>:</td>
        <td>{{ user.address }}</td>
      </tr>
      <tr *ngFor="let user of userProfile">
        <td>Restaurant Image</td>
        <td>:</td>
        <td><img [src]="user.restaurantimage" alt="Restaurant Image" height="300" width="300"></td>
      </tr>
    </tbody>
  </table>
</div>
