<h1 mat-dialog-title>Edit Status</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="selectedStatus">
      <mat-option value="On Progress">Progress</mat-option>
      <mat-option value="Delivered">Delivered</mat-option>
      <mat-option value="Waiting">Waiting</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
