<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <div class="wrapper">
      <header>Login Form</header>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="field email">
              <div class="input-area">
                  <input type="text" placeholder="Email Address" name="email" required ngModel #email="ngModel">
                  <i class="icon fas fa-envelope"></i>
                  <i class="error error-icon fas fa-exclamation-circle"></i>
              </div>
              <div class="error error-txt">Email can't be blank</div>
          </div>
          <div class="field password">
              <div class="input-area">
                  <input type="password" placeholder="Password" name="password" required ngModel #password="ngModel">
                  <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
              </div>
              <div class="error error-txt">Password can't be blank</div>
          </div>
      <!--    <div class="pass-txt"><a href="#">Forgot password?</a></div>-->
          <input type="submit" value="Login" class="submit" required>
      </form>
      <div class="sign-txt">Not yet member? <a routerLink="/register">Signup now</a></div>
      <br>
      <div class="input-box" style="color: red;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  {{msg}}</div>
      <br>
      <div class="input-box">
        <a routerLink="/home">BACK TO HOME</a>
    </div>
  </div>
</body>
