<head>
  <link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
</head><div class="container-product" style="  overflow-y: auto;">
  <div class="admin-product-form-container">
     <form enctype="multipart/form-data"  #form="ngForm" (ngSubmit)="onSubmit(form)" style="font-size: 62.5%; border-style: solid; border-color: darkgrey;">
        <h3>Add a new Food Item</h3>
        <input type="text" placeholder="enter food name" name="product_name" class="box" ngModel #product_name="ngModel" required id="product_name" style="border-color: rgb(190, 185, 185); border-style: solid;">
        <input type="number" placeholder="enter food price" name="product_price" class="box" ngModel #product_price="ngModel" required id="product_price" style="border-color: rgb(190, 185, 185); border-style: solid;">
        <input type="file" accept="image/png, image/jpeg, image/jpg" name="product_image" (change)="onFileSelected($event)" class="box" ngModel #product_image="ngModel" required id="product_image" style="border-color: rgb(190, 185, 185); border-style: solid;">
        <input type="submit" class="btn" name="add_product" value="Add Food Item" (click)="validateForm()" style="color: white;background-color: darkmagenta; border-color: blueviolet; border-style:solid ;">
        <br>
        <div class="input-box" style="color: red; font-size: medium;">{{msg}}</div>
     </form>

  </div>
  <div class="product-display" style="  overflow-y: auto;  ">
     <table class="product-display-table" style="  overflow-y: auto;">
        <thead>
        <tr>
           <th>Food Image</th>
           <th>Food name</th>
           <th>Food price</th>
           <th>Action</th>
        </tr>
        </thead>
        <tbody class="product-display-tbody">
          <tr *ngFor="let foodItem of foodItems">
            <td><img [src]="foodItem.product_image" alt="Food Image" height="100"></td>
            <td>{{ foodItem.product_name }}</td>
           <td> <ng-container *ngIf="editedPrice !== foodItem.product_price; else priceInput" class="price-container" style="font-size: larger; padding-top: 10px;">
              {{ foodItem.product_price }}
            </ng-container> </td>
            <ng-template #priceInput>
              <input type="number" [(ngModel)]="editedPrice" min="0" step="0.01">
            </ng-template>
            <td>
             <!-- Edit button -->
             <button class="btn btn-primary" (click)="editPrice(foodItem)" style="  background: #1e8449; color:#fff;"><i class="uil uil-edit"></i>  Edit</button>
             <!-- Delete button -->
             <button class="btn btn-delete" (click)="deleteFoodItem(foodItem)"><i class="uil uil-trash-alt"></i>  Delete</button>
            </td>
          </tr>
        </tbody>
     </table>
  </div>
</div>
