<head>
  <link
  rel="stylesheet"
  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
</head>
<div class="container">
  <div class="tbl_container">
      <h2>Processed Orders</h2>
      <table class="tbl" id="purchase-history-table">
          <thead>
              <tr>
                  <th>Order No</th>
                  <th>Food Item </th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of history">
              <td>{{ order.orderno}}</td>
              <td>{{ order.productName }}</td>
              <td>{{ order.quantity }}</td>
              <td>Rs. {{ order.productPrice }}</td>
              <td>{{ order.status }}</td>
              <td>
                <button class="btn btn-delete" (click)="cancel(order)" style="background-color: lightseagreen;color:black;"><i class="uil uil-trash-alt"></i>  Cancel</button>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
